<section class='container mt-5'>
    <h1 class='text-center my-5'>
        404 - Página no encontrada
    </h1>
    <p class='text-center'>
        Lo sentimos, la pagina que buscas no existe.
    </p>
    <p class='text-center'>
        Puedes volver a la
        <a class='text-uppercase text-decoration-none fw-bold' href='/'>
            pagina principal
        </a>
    </p>
</section>