@import url("https://fonts.googleapis.com/css2?family=Krub:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap");

:root {
    --bs-blanco: #fff;
    --bs-black: #000;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-purple2: #9893fb;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #e99401;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #262626;
}

html {
    font-size: 10px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background-color: var(--bs-blanco);
    font-size: 1.6rem;
    line-height: 1.6;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    color: var(--bs-black);
    margin-bottom: 1.5rem;
    font-weight: 700;
}
h1 {
    font-size: 3.2rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.8rem;
}
img {
    width: auto;
}
.contenedor {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1;
}
.header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/header.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bs-gray-100);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid var(--bs-blanco);
}
.logo {
    width: 50%;
    height: 25%;
}
.navbar {
    flex: 1;
    margin-left: 2rem;
    padding: 0.5rem;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
.nav-links a {
    text-decoration: none;
    color: var(--bs-blanco);
    font-size: 1.4rem;
}
.nav-links a:hover {
    color: var(--bs-primary);
}

.icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pie {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4rem 0;
    background-color: var(--bs-gray-dark);
    color: var(--bs-blanco);
    text-align: center;
    border-top: 0.1rem solid var(--bs-gray-300);
}

.tableProdRealTime {
    width: 100%;
    max-width: 1000px;
    margin: 2rem auto;
    border-collapse: collapse;
    font-family: "Segoe UI", sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.tableProdRealTime thead {
    background-color: var(--bs-success);
    color: var(--bs-blanco);
}

.tableProdRealTime th,
.tableProdRealTime td {
    padding: 0.8rem;
    text-align: center;
    border-bottom: 1px solid var(--bs-gray-400);
}

.tableProdRealTime tbody tr:hover {
    background-color: var(--bs-light);
    cursor: pointer;
    transition: background 0.3s ease;
}

.tableProdRealTime img {
    width: 50px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.tableProdRealTime button {
    background-color: var(--bs-orange);
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.tableProdRealTime button:hover {
    background-color: var(--bs-red);
}
